<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de Progreso</h5>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                </div><br>

                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2+ '%'"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (actualizarValor)="progreso1 = $event" nombre="Progress Blu" [progreso] = "progreso1" ></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!--app-incrementador nombre="Progress Green" (actualizarValor) = "progreso2 = $event"></app-incrementador-->
            </div>
        </div>
    </div>
</div>

