<router-outlet></router-outlet>
<div class="row">
     <div class="col-12">
         <div class="card">
             <div class="card-body">

                

            </div>
        </div>
    </div>
</div>