<h3>{{ leyenda }}- {{progreso}}</h3>
<div class="card-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-primary" (click)="cambiarValor(-5)" type="button" id="button-addon1"><i class="mdi mdi-minus"></i></button>
      </div>

      <input type="number" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" min="1" max="100">

      <div class="input-group-append">
        <button class="btn btn-primary" (click)="cambiarValor(+5)" type="button" id="button-addon2"><i class="mdi mdi-plus"></i></button>
      </div>
    </div>
</div>